# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\HUGO\Ecole\Aalto ELEC\ELEC-C7420 - Basic principles in networking\Assignments\Assignement 2 Chat application\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
